body {
    background: linear-gradient(to top, #777, #000) no-repeat center center fixed;
    background-size: cover;
}
.gallery {
    position: relative;
    perspective: 2000px;
    height: calc(240px + 2 * 5px + 10px);
    margin: 15px 0;
    overflow: hidden;
    transition: scale 0.5s ease-in-out;
}
.gallery:empty {
    transform: scale(0);
}
.frame {
    position: absolute;
    width: 320px;
    height: 240px;
    background: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif') #000 no-repeat center center;
    background-size: 10%;
    border: solid 5px #fff;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}
.frame ::selection {
    background: none;
    color: auto;
}
.frame img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.frame.mock {
    display: none;
}
#flickr-search {
    text-align: center;
    margin: 30px;
}

#flickr-search input {
    font-size: 18px;
    font-weight: normal;
    background: #444;
    border: solid 1px #666;
    color: #fff;
    border-radius: 0.2em;
    padding: 0.3em 0.5em;
    outline: none;
}
#flickr-search input[type="text"]:focus {
    border-color: #7CB2D8;
    background: #333;
}
#flickr-search input[type="submit"]:active {
    position: relative;
    top: 1px;
    left: 1px;
}
